# Akeneo Credentials
AKENEO_URL=https://your-akeneo-domain.com
AKENEO_CLIENT_ID=your_client_id
AKENEO_SECRET=your_secret
AKENEO_USERNAME=your_username
AKENEO_PASSWORD=your_password

# Vendure Credentials
VENDURE_URL=http://localhost:3000/admin-api
VENDURE_EMAIL=superadmin
VENDURE_PASSWORD=superadmin

# Logging Configuration
LOG_LEVEL=INFO
